node_modules/
public/js
public/app.output.css
package-lock.json

/target
/checkouts
/src/gen

pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store

.hgignore
.hg/

.clj-kondo
.calva
.cpcache
.lsp

db/
public/uploads/

questionz/
gen_prompt